@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custos perso */
.content a {
  @apply text-brand-800 font-bold;
}

.content a {
  @apply bg-yellow-200;
  transition: background-color 0.5s;
}

.content a:hover {
  @apply bg-brand-100;
  transition: background-color 0.5s;
}

.content h1 {
  @apply text-4xl font-bold mb-6;
}

.content h2 {
  @apply text-2xl font-bold italic mt-8 mb-4;
}

.content h3 {
  @apply text-base font-semibold uppercase mt-6 mb-3;
}

.content h4 {
  @apply text-lg font-bold mt-4 mb-2;
}

.content p {
  @apply text-lg mb-4;
}

.content ul {
  @apply text-lg pl-8;
  list-style-type: disc;
}

.content ul li {
  @apply mb-4;
}

.content blockquote {
  @apply ml-4 pl-4 text-gray-700 italic;
  border-left: 0.25em solid #4299e1;
}

/* Themes*/

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;

  --bg-background-form: white;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: white;
}

.theme-light .search-highlighted {
  background: #f0fff4;
}

.theme-light .search-hover:hover {
  background: #f0fff4;
}

.theme-dark .markdown-body {
    color: #24292e;
}

.theme-dark .search-highlighted {
  background: #2d3748;
}

.theme-dark .search-hover:hover {
  background: #2d3748;
}

.theme-dark {
  --bg-background-primary: #0D2438;
  --bg-background-secondary: #102C44;
  --bg-background-tertiary: #1E3951;

  --bg-background-form: #1a202c;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;

  --border-border-color-primary:  #1a202c;
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}

/* Other */

.content-wrapper {
  transition: background-color .25s;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}
